modules = ["nodejs-20", "python-3.12", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["lsof", "openssh", "vim", "x11vnc", "python312Packages.xvfbwrapper", "novnc", "python313Packages.websockify"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 44433341
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start VNC Server"
author = 45837077
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/vnc-setup.js"

[agent]
expertMode = true
