modules = ["nodejs-20", "python-3.12", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["lsof", "openssh", "vim", "postgresql_12"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 44433341
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
